body{
    background-image: url(./ime/Premium\ Photo\ _\ Future\ artificial\ intelligence\ robot\ and\ cyborg_.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap;
}

/* Estilo para dispositivos con un ancho máximo de 768px (Tablets y teléfonos) */
@media (max-width: 900px) {
    .navbar-brand img {
        width: 50px;
    }
    .navbar-toggler {
        display: block;
    }
    .navbar-collapse {
        display: none;
    }
}

/* Estilo para dispositivos con un ancho mínimo de 769px (PCs) */
@media (min-width: 200px) {
    .navbar-collapse {
        display: flex !important;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .mytitlecard {
        font-size: 18px;
    }
    .conjunto3 {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 200px) {
    .mytitlecard {
        font-size: 24px;
    }
    .conjunto3 {
        width: 50%;
        height: auto;
    }
}

@media (max-width: 900px) {
    .mybouton, .mybouton1 {
        width: 100%;
        font-size: 14px;
    }
}

@media (min-width: 200px) {
    .mybouton, .mybouton1, .cont {
        width: auto;
        font-size: 18px;
    }
}
.mybouton{
    background-color: rgba(0, 132, 255, 0.219);
    border: none;
    font-size: 2vw;
    color: rgb(223, 240, 238);
    margin: 5 px;
    transition: all 0.2s ease-in-out;
    border-radius: 50px;
    padding: 6px;
    font-family: "Baskerville Old Face";
}
.mybouton:hover{
    background-color: rgb(215, 250, 225);
    color: rgb(255, 38, 0);
    font-size: 2.5vw;
}

.whatsapp{
    color: rgb(17, 0, 255);
    font-family: cursive;
    font-size: 4vw;

}

.whatsapp:hover{
    color: rgb(157, 255, 0);
    font-family: cursive;
    font-size: 6vw;

}

.links2{
    color: rgb(156, 22, 33);
    font-family: cursive;
    font-size: 2vw;
    width: fit-content;
}
.title_curso{
    color: rgb(136, 12, 109);
    font-family: cursive;
    font-size: 2vw;
    width: fit-content;
}
.mi-recuadro{
    border: 2px solid #000;
    padding: 10px;
    margin: 20px;
    background-color: antiquewhite;
    border-radius: 20px;
    width: fit-content;
}

.mi-recuadro:hover{
    border: 2px solid #96ee96;
    padding: 10px;
    width: fit-content;
    margin: 20px;
    background-color: antiquewhite;
    border-radius: 20px;
    font-size: 6vw;
   
}
.mi-recuadro1{
    border: 2px solid #000;
    padding: 10px;
    margin: 20px;
    background-color: antiquewhite;
    border-radius: 20px;
    background: cover;
    width: fit-content;
}



.titulo-contacto{
    color: rgba(10, 17, 1, 0.466);
    font-family: cursive;
    font-size: 4vw;
}
.titulo-contacto:hover{
    color: rgba(211, 66, 9, 0.733);
    font-family: cursive;
    font-size: 4vw;
}

.cont{
    border: 2px solid #96eedf;
    background-color: rgb(133, 146, 221);
    justify-content: center; /* Alínea los recuadros horizontalmente */
    align-items: center;    /* Alínea los recuadros verticalmente */
    height: 25vw;        /* Ajusta la altura del contenedor si es necesario */
    width: fit-content;
}

  
  .recuadro {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: rgb(69, 179, 59); /* Color de fondo para los recuadros */
  }
  
.title-cont{
    border: 2px solid #96eedf;
    background-color: rgb(133, 221, 221);
    font-size: 1vw;
    justify-content: center;
}
.conjunto3{
    background-size: 4vw;
    border-radius: 10px;
    border: 5px solid #2318c5;
}
.conjunto4{
    width: 13vw;
    height: 12vw;
}


.pie_de_pagina{
    color: aliceblue;
    background-color: rgb(38, 20, 109);
    text-align: center;
    padding: 10px 0;

    width: 100%;
    bottom: 0;
}
.card-text{
    color: #1da528;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
}
.fa-cart-shopping{
    color: #1da528;
}
.Title{
    color: aliceblue;
    font-family: Bodoni MT Black;
}

.redes{
    color: #1da528;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
}

.Instagram{
    color: #1da528;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
}
.instagram1{
    width: 2vw;
}

.facebook{
    color: #1da528;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
}

.facebook1{
    width: 2vw;
}