body{
    background-image: url(./ime/Premium\ Photo\ _\ Future\ artificial\ intelligence\ robot\ and\ cyborg_.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.conjunto3{
    width: 240px;
    height: 150px;
}

